numpy==1.9.3
scipy==0.16.0
cython
scikit-learn
graphviz
pip
jupyter_contrib_nbextensions
pandas
wheel
wheelhouse_uploader
yapf
graphviz
jupyter
pandas
matplotlib
pillow
graphviz
pydotplus
jupyterthemes
